# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/TextEncrypterWindows/.vs
/TextEncrypterWindows/x64
/TextEncrypterVS/TextEncrypterCLR/.vs
/TextEncrypterVS/TextEncrypterCLR/TextEncrypterCLR/x64
/TextEncrypterVS/TextEncrypterCLR/x64
/TextEncrypterVS/TextEncrypterWinApp/.vs
/TextEncrypterVS/TextEncrypterWinApp/bin
/TextEncrypterVS/TextEncrypterWinApp/obj
/TextDecrypterAS/.idea
*.jpg
*.bmp
*.png
TextDecrypterAS/gradlew
TextDecrypterAS/gradlew.bat
/TextDecrypterAS/app/release
/TextEncrypterVS/TextEncrypterCLR/Release
/TextEncrypterVS/TextEncrypterCLR/TextEncrypterCLR/Debug
/TextEncrypterVS/TextEncrypterCLR/TextEncrypterCLR/Release
/TextEncrypterVS/TextEncrypterCLR/TextEncrypterCLR/Win32/Release
/TextEncrypterVS/TextEncrypterCLR/Win32/Release
